@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Poppins', sans-serif; */
    font-family: "Raleway", sans-serif;
}
/* header section start */

.header{
     /* position: fixed; */
     width: 100%; 
     padding: 35px 12%;
     background: #4d47ff20; 
     backdrop-filter: blur(10px);  
     display: flex;
     justify-content:space-between;
     align-items:end;
     z-index: 100;  
}
.logo{
    font-size: 2rem;
    color: #4E47FF;
    font-weight: bold;
    transition: 0.3s ease;
    text-decoration: none;
    font-family:"Inter", sans-serif;
   font-optical-sizing: auto;
}

 .logo:hover{
    color: #4E47FF;
    text-shadow: 0 0 25px #4E47FF,
                0 0 50px #4E47FF;
    transform: scale(1.1);
} 

.navbar a{
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    text-decoration: none;
}
 
.navbar a:hover,
.navbar a.active{
    color: #4E47FF;
    border-bottom: 3px solod #4E47FF;
} 
.btn2{
    padding: 10px 28px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border:2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s, ease;
    text-decoration: none;
}
.btn2:hover{
    background-color: #4E47FF;
    box-shadow: 0 0 25px #7977b7;
    color: white;
    transform: scale(1.1);
}
/* header section end */

/* home section start */
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
     background-image: url(../assets/Hero-bg.png);
     background-repeat: no-repeat;
    background-position: top left, bottom right; 
    background-size: cover;
    justify-content: center;
    
}
.home .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.home .content h5{
    font-size: 65px;
    color: rgb(37, 36, 50, 100%);
    line-height: 1.5;
    
}



.btn{
     display: inline-block;
     margin-top: 2rem; 
     color: #FFFFFF;
     background-color:#4E47FF;
     padding: 1rem 0.1rem; 
     border-radius: 0.5rem;
     font-size: 1.5rem;
     font-weight: 600;
     cursor: pointer;
     text-decoration: none;  
     width: 30%;
     transition: 0.3s ease;
}
.btn:hover{
    background-color:#a9a2a293;
    box-shadow: 0 0 25px #8683d3;
    color: #4E47FF;
    transform: scale(1.1);
}
/* home section end */

/* action section start */
.action{
     width: 100%;
    min-height: 80vh; 
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.action-content{
    max-width: 800px;

}
.action-content h3{
    font-size: 42px;
    color: rgb(37, 36, 50, 100%);

}
.action-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.action-content p{
    font-size: 18px;
    margin: 25px 0 30 px;
    color: rgb(37, 36, 50, 50%);
}

.btn1{
    padding: 15px 28px;
    background-color: #4E47FF;
    color: white;
     border: 0;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn1:hover{
    background-color: #4E47FF;
    box-shadow: 0 0 25px #7977b7;
    color: white;
    transform: scale(1.1);
}
.img-box img{
    border-radius: 10%;
    width: 550px;
}
 ::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color:  #4E47FF;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}
/* action section end */
 
/* Productive Users Section start */
    .Productive-Users{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
   }
.Productive-Users .user-tittle{
         display: flex;
         background-color:  #4d47ff20;
         width: 80vw;
         text-align: center;
         padding: 3.5rem 3.5rem;
         border-radius: 1rem;
         align-items: center;
        flex-direction: column;
}

.Productive-Users .user-tittle h3{
    font-size: 25px;
    color: rgb(37, 36, 50, 100%);
}
.Productive-Users .user-tittle .user-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    margin-top: 20px; 
}
.Productive-Users .user-tittle .user .div1{
        font-size: 50px;
        color: #4E47FF;
        font-weight: 700;
       font-family:"Inter", sans-serif;
}
.Productive-Users .user-tittle .user p{
    color: rgb(0, 0, 0, 50%);
}

/* Productive Users Section end */

/* review section start */
.heading{
    color: rgb(63, 63, 61);
    text-align: center;
    font-size: 3rem;
    padding: 10px;
    margin: 2rem;
}
 .review{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    flex-direction: column;
} 

   .review .card-container{
         
         display: flex;
         place-items: center;
         background: #FFFFFF;
         width: 80vw;
}
.review .card-container .card{
    
    width: 80vw;
    margin: 0% 1rem;
    padding: 1rem;
    border-radius: 12px;
    background-color:#dfdcdc43;
    box-shadow: inset 2px 2px 1px white,
                4px 4px 4px rgba(0, 0, 0, 0.267);
    
}
.review .card-container .card:hover{
   
    box-shadow: 0 0 25px #7977b7;
    color: white;
    transform: scale(1.1);

}

.review .card-container .card h4{
    color: #1E1E1E;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 1.5rem;
}
.review .card-container .card p{
    color: #1E1E1E;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1rem;
}

.review .card-container .card .users{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.review .card-container .card .users h3{
    font-size: 1rem;
    color: #757575;
}
.review .card-container .card .users span{
    font-size: 1rem;
    color: #B3B3B3;
}
.review .card-container .card .users img{
    
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
/* review section end */

/* from section start  */
.contact{
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
.contact .row{
    width: 50vh;
    height: 20vh;
   }
.contact .col{
    width: 50vh;
   }
.contact .col form .form-box{
        padding: 1rem;
        margin: 0.7rem 0;
        font-size: 1rem;
         font-family:"Inter", sans-serif;
        color: #333;
        text-transform: none;
        border: 0.1rem solid rgba(20, 17, 17, 0.1);
        border-radius: .5rem;
        width: 100%;
     }
     .contact .col form .form-box:focus{
        border: #4E47FF;
     }
.contact .col form .text{
        font-weight: 600;
        color:rgb(0, 0, 0, 100%); 
     }
.contact .col form textarea{
        height: 8rem;
        resize: none;
     }
.contact .col form .btn3{
        width: 100%;
         padding: 15px 28px;
    background-color: #4E47FF;
    color: white;
     border: 0;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
     }
.contact .col form .btn3:hover{
        background-color: #4E47FF;
    box-shadow: 0 0 25px #7977b7;
    color: white;
    transform: scale(1.1);
     }
.contact .row h1{
        font-size: 50px;
        color: rgb(0, 0, 0, 100%);
       
     }

     
     /* form section end */

/* footer section start */
.footer{
        display: flex;
        margin-top: 20px;
    text-align: center;
    height: 30vh;
    align-content: center;
    align-items: center;
    background-color:  #4d47ff20;
    justify-content: center;
    flex-direction: column;
    } 
.footer .log{
        font-size: 3rem;
        font-weight: bolder;
        color: #4E47FF ;
      }  
.footer .ancor a{
        text-decoration: none;
        color: #8987A1;
        
    }
.footer .ancor{
     display: flex;
    width: 30vw;
    justify-content: space-between;
     padding: 1rem;
    margin: 0rem;
            
        }
.footer p{
        color: #8987A1;
}
     /* footer section end */

